.card{
    border:none;
}

.chat {
    list-style: none;
    margin:0;
    padding:0;
}

.rounded-circle{
    height: 50px;
    width: 50px;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
}

.card-body{
    overflow: auto;
    height: 400px;
}

.card-footer{
    box-shadow: 0px 0px 0px #888, 0px -5px 0px rgba(233, 232, 232, 0.03);
}